---
import { getBlogs } from '../../libs/microcms.ts';
import BaseLayout from '../layouts/BaseLayout.astro';
import dayjs from 'dayjs'

export type blogType = {
  id: string;
  title: string;
};
const response = await getBlogs();
console.log(response);
---

<BaseLayout>
  <div class="theme-kanagawa">
    <h2 class="text-2xl font-bold mb-4">ブログ一覧</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        response.contents.map((blog: any) => (
        <div>{console.log(blog)}</div>
          <div class="card bg-base-100 shadow-md p-4 rounded-lg">
            <h3 class="text-xl font-semibold mb-2 text-base-content">
              {blog.title}
            </h3>
            <p class="text-base-content mb-2">{blog.content}</p>
            <p class="text-base-content text-sm mb-4">
          {dayjs(blog.publishedAt).format('YYYY-MM-DD HH:mm:ss')}
            </p>
            <a href={blog.id} class="btn btn-primary">
              Read more
            </a>
          </div>
        ))
      }
    </div>
  </div>
  <ul>
    {
      response.contents.map((blog: any) => (
        <li>
          <a href={blog.id}>{blog.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
